extends layout

block content
  h1= '테스트'
  - if (typeof(list) !== 'undefined'){
    ul 
      - list.forEach(function(item){
        li= `${item.id} => ${item.title}`
      - })
  -}
  - if (typeof(detail) !== 'undefined'){ 
    p=  `${detail.id} => ${detail.title}`
  - }
